p{
    background-color: white;
    color:blueviolet;
    width:3000px;
    height: 8000px;
    text-align:center;
    margin:2px;
    padding: 10px;
    border:5000px;
    background-image: linear-gradient(red,yellow,green);
    position: relative;
    display:inline;
}
.flex{
    display: flex;
    height:300px;
    align-items: center;
    justify-content:space-around;
    row-gap: 5px;
    border: 100px;
    position: relative;
    top: 100px;
    bottom:0px;
    left: 0px;
    right: 0px;
    background-color:beige;
}
.p1{
    border: 20px;
    padding:20px;
    height: 20px;
    width: 50px;
    display: inline-block;
    position: relative;
    top: 2px;
    bottom:0px;
    left: 0px;
    right: 0px;
    margin:auto;
}
.p1:hover{
    color:red;
    cursor:pointer;
}
